<% provide(:title, "About") %>
<div class="text-center jumbotron">
  <h1>Welcome to The Crow's Nest!</h1>
  <h3>The homepage for all pirate news!</h3>
  <table class="githubbuttons"><tr><td><iframe src="http://ghbtns.com/github-btn.html?user=wtabor&repo=angler&type=watch&count=true&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe></td><td><iframe src="http://ghbtns.com/github-btn.html?user=wtabor&repo=angler&type=fork&count=true&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe></td><td><iframe src="http://ghbtns.com/github-btn.html?user=wtabor&type=follow&count=true&size=large" height="30" width="240" frameborder="0" scrolling="0" style="width:240px; height: 30px;" allowTransparency="true"></iframe></td></tr></table>
  </div>


