  <!-- Renders if signed in to destroy post-->
  <% if @post.user == current_user %>
  <div class="btn-group pull-right">
    <%= link_to 'Destroy!', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-destroy" %>
  </div>
<% end %>
<br>

  <%= render 'form' %>
