@import "cerulean-variables.css.scss";
@import "bootstrap-variables.scss";
@import "bootstrap-custom-variables.scss";
@import "bootstrap-sprockets.scss";
@import "bootstrap.scss";
@import "cerulean.css.scss";


main.container-fluid {
  padding: 2em;
  margin-left: 2em;
}

body {
  margin-top: 2em;
}

.posts {
  margin-left: 2em;
}
