@import "yeti-variables.css.scss";
@import "bootstrap-variables.scss";
@import "bootstrap-custom-variables.scss";
@import "bootstrap-sprockets.scss";
@import "bootstrap.scss";
@import "yeti.css.scss";


main.container-fluid {
  padding: 2em;
  margin-left: 2em;
}

body {
  margin-top: 2em;
}

.posts {
  margin-left: 2em;
}

textarea.form-control {
  height: 10em;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    }




